@{
    ViewBag.Title = "Multiple Choice";
}

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
<script src="~/Scripts/myApp.js"></script>
<script src="~/Scripts/multipleChoiceCtrl.js"></script>
<div class="jumbotron">
    <h1>Multiple Choice</h1>

</div>
<div ng-app="myApp" ng-controller="multipleChoiceCtrl">
    <div class="row">
        <div class="col-md-10 text-left">
            <p><b>QNo : 1</b></p><br />
            <p>{{question}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <br />
            <input type="radio" name="choice" ng-model="valueAns" value="{{choice1}}" ng-change="evaluateUserAnswer(valueAns)" /><span>{{choice1}}</span><br />
            <input type="radio" name="choice" ng-model="valueAns" value="{{choice2}}" ng-change="evaluateUserAnswer(valueAns)" /><span>{{choice2}}</span><br />
            <input type="radio" name="choice" ng-model="valueAns" value="{{choice3}}" ng-change="evaluateUserAnswer(valueAns)" /><span>{{choice3}}</span><br />
            <input type="radio" name="choice" ng-model="valueAns" value="{{choice4}}" ng-change="evaluateUserAnswer(valueAns)" /><span>{{choice4}}</span><br />

            <br />
            
            <div ng-if="!(testcomplete)">
                <a ng-click="bindQuesToUi()"><input type="button" value="Next" class="btn btn-primary" /></a><br /><br />
            </div>
            <div ng-if="(testcomplete)">
                <h3>Your Score is : {{score}}</h3>
                @Html.ActionLink("SR Algo", "sralgo", "Home")
            </div>
        </div>
       

    </div>
</div>